@model CategoryModel
@{
    Layout = "_AdminLayout";

    var categories = Model.categories;

    var totalpages = Model.PageInfo.TotalPages();



}

<div class="box-">
    <h1>
        Kategoriler
        <a href="/admin/kategori-ekle">Kategori Ekle</a>
        <a href="/admin/kategori-dil-ekle">Kategoriye Dil Ekle</a>
    </h1>
</div>

<div class="clear" style="height: 10px;"></div>

<div class="table">
    <table>
        <thead>
            <tr>
                <th>Kategori Adı</th>
                <th class="hide">Kategori Kodu</th>
                <th class="hide">Kategori Dili</th>

            </tr>
        </thead>
        <tbody>
            @if (Model.categories.Count > 0)
            {
                @foreach (var kategori in categories)
                {
                    <tr>
                        <td>
                            <a href="#" class="title">
                                @kategori.Title
                            </a>
                            <div class="magic-links">
                                <form action="/admin/DeleteCategory" method="post">
                                    <input type="hidden" name="categoryid" value="@kategori.CategoryId" />

                                    @*<a type="submit" class="trash">Sil</a> |*@
                                    <button onclick="return confirm('@kategori.Title başlıklı kategoriyi silmek istediğinize emin misiniz? Bununla birlikte içindeki dokumanlarda silinecektir.')" type="submit" class="btn btn-sm btn-danger">Delete</button>
                                </form>
                                <a style="margin-top:2px;" class="btn btn-sm btn-danger" href="/admin/kategoriler/@kategori.CategoryId">Güncelle</a>
                            </div>
                        </td>
                        <td class="hide">
                            <a href="#">@kategori.Code</a>
                        </td>
                        <td class="hide">
                            <a href="#">@kategori.Culture</a>
                        </td>
                    </tr>
                }
            }
            else
            {
                <div class="alert">
                    <h3>Kategori bulunamadı</h3>
                </div>
            }



        </tbody>
    </table>
</div>
<div class="pagination">
    <ul>
        @for (int i = 0; i < totalpages; i++)
        {

            <li class="page-item @(Model.PageInfo.CurrentPage==i+1?"active":"")"><a href="/admin/kategoriler?page=@(i+1)">@(i+1)</a></li>





        }
    </ul>
</div>