@model FormModelContact
@{
    Layout = "_AdminLayout";

    var basvurular = Model.Contacts;

    var totalpages = Model.PageInfo.TotalPages();
}

<div class="box-">
    <h1>
        Başvurular
    </h1>
</div>

<div class="clear" style="height: 10px;"></div>

<div class="table">
    <table>
        <thead>
            <tr>
                <th>İsim</th>
                <th class="hide">E-Mail</th>
                <th class="hide">Telefon</th>

                <th>
                    <span class="fa fa-comment">Mesaj</span>
                </th>

                <th>
                    <span class="fa fa-comment">Kampanya</span>
                </th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Contacts.Count > 0)
            {
                @foreach (var basvuru in basvurular)
                {
            <tr>
                <td>
                    <a href="#" class="title">
                        @basvuru.Name
                    </a>
                    <div class="magic-links">
                        <a href="" class="trash">Sil</a> | <a href="/admin/KariyerList/@basvuru.Id">İncele</a>
                    </div>
                </td>
                <td class="hide">
                    <a href="#">@basvuru.Email</a>
                </td>
                <td class="hide">
                    <a href="#">@basvuru.Telephone</a>
                </td>

                <td>
                    @basvuru.Message
                </td>
                <td class="hide">
                    @if (@basvuru.Kampanya == 1)
                    {
                        <i class="fa fa-check" aria-hidden="true"></i>
                    }
                    else
                    {
                        <i class="fa fa-times" aria-hidden="true"></i>
                    }
                  
                </td>
                <td>
                    <span class="date">@basvuru.Tarih</span>
                </td>
            </tr>
                }
            }
            else
            {
                <div class="alert">
                    <h3>Başvuru bulunamadı</h3>
                </div>
            }



        </tbody>
    </table>
</div>
<div class="pagination">
    <ul>
        @for (int i = 0; i < totalpages; i++)
        {

            <li class="page-item @(Model.PageInfo.CurrentPage==i+1?"active":"")"><a href="/admin/kariyer?page=@(i+1)">@(i+1)</a></li>





        }
    </ul>
</div>


