@model HaberlerModel
@{
    Layout = "_AdminLayout";

    var haberler = Model.News;

    var totalpages = Model.PageInfo.TotalPages();
}

<div class="box-">
    <h1>
        Haberler
        <a href="/admin/haber-ekle">Haber Ekle</a>
        <a href="/admin/dil-ekle">Dil Ekle</a>
    </h1>
</div>

<div class="clear" style="height: 10px;"></div>

<div class="table">
    <table>
        <thead>
            <tr>
                <th>Haber Adı</th>
                <th class="hide">Haber Kodu</th>
                <th class="hide">Haber Dili</th>
                <th class="hide">Haber Açıklama</th>
                <th class="hide">Haber Seo</th>       
                <th>Date</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.News.Count > 0)
            {
                @foreach (var haber in haberler)
                {
                    <tr>
                        <td>
                            <a href="#" class="title">
                                @haber.Title
                            </a>
                            <div class="magic-links">
                                <form action="/admin/deletehaber" method="post">
                                    <input type="hidden" name="haberId" value="@haber.NewsId" />
                                    @*<a type="submit" class="trash">Sil</a> |*@
                                    <button onclick="return confirm('@haber.Title başlıklı haberi silmek istediğinize emin misiniz?')" type="submit" class="btn btn-sm btn-danger">Delete</button>
                                </form>


                               
                                <a style="margin-top:2px;" class="btn btn-sm btn-danger" href="/admin/haberler/@haber.NewsId">Güncelle</a>
                            </div>
                        </td>
                        <td class="hide">
                            <a href="#">@haber.Code</a>
                        </td>
                        <td class="hide">
                            <a href="#">@haber.Culture</a>
                        </td>

                        <td>
                            @haber.ShortDescription
                        </td>
                        <td class="hide">
                          @haber.SeoUrl
                        </td>
                        <td>
                            <span class="date">@haber.CreatedDate</span>
                        </td>
                    </tr>
                }
            }
            else
            {
                <div class="alert">
                    <h3>Başvuru bulunamadı</h3>
                </div>
            }



        </tbody>
    </table>
</div>
<div class="pagination">
    <ul>
        @for (int i = 0; i < totalpages; i++)
        {

            <li class="page-item @(Model.PageInfo.CurrentPage==i+1?"active":"")"><a href="/admin/haberler?page=@(i+1)">@(i+1)</a></li>





        }
    </ul>
</div>